/*This code sets the colours and shape of the main box with all the text in it.*/
body {
background-color: beige ;
border: 2px solid olive;

font-family: Garamond, Palatino ;

margin-top: 20px;
margin-left: auto ;
margin-right: auto ;
max-width: 1024px ;
min-width: 256px ;

}

article {
	padding-top: 8px ;
	padding-bottom: 24px ;
	padding-left: 24px ;
	padding-right: 24px ; 	
}

header{
	font-family: cursive;
	font-size: 80px;
	text-align: center;
	padding-top: 10px;
}

article h1 {
	font-family: Garamond, Palatino;
	font-size: 35px;
	margin: 0px;
}

div.frontpage {
	display: flex;
	justify-content: center;
	text-align:center;
}

/*this code sets the size of images. it also rounds their corners using border-radius.*/

img.small {
	float: left;
	width: 20%;
	margin-bottom: 24 px;
	margin-right: 10px;
	border-radius: 10px;
}

img.medium {
	width: 50%;
	border-radius: 10px;
}

img.large {
	height:200pt;
	border-radius: 10px;
}


/*This code for h2.new and h.3footer determines the font and size of the captions and footers of the pics on the front page.*/

h2.new {
	font-family: cursive;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	text-align: center;
}

h3.footer {
	font-family:Garamond, Palatino;
	font-size: 20px;
	padding-top: 0px;
	padding-bottom:0px;
	margin-bottom: 0px;
	margin-top: 0px;
}



/*this code is for the grid on the front page with the new pattern, pattern of the month, and new article*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: beige;
  padding: 10px;
  row-gap: 2px;
  
}
.grid-item {
  padding: 0px;
  text-align: center;

/*  vertical-align: center;
*//*  background-color: yellow;
*/  
}

/*This code is for sections.*/

section {
	background-color: beige; 
	margin-bottom: 20px;
	min-height: 250px;
	padding-right: 24px;
	padding-left: 24px;
}


/*This code eliminates the bullets from lists within the body section of the website.*/
body ul {
	list-style-type: none; 
}



/*This code determines the appearance of the Navigator bar at the top of the page.*/
nav ul {
	list-style-type: none ;
	background-color: olive ;
	border: solid olive;
	border-radius: 0px ;
	font-family: Garamond, Palatino ;
	font-weight: bold ;
	font-size: 20px;
	padding: 10px ;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	margin-top: 5px;
}


nav ul li {
	display: inline ;
	border-right: 2px solid #111111 ;
	padding-right: 10px ;
	padding-left: 5px ;
	border-color: beige;
}

nav ul li:last-child {
	border-right: none ;
}

nav ul li a {
	text-decoration: none ;
	color: beige ;
}
/*This code makes the colour of the header link change when you are on that page*/
nav li.selected {
	color:pink;
}


/*This code is a nonsense experiment for the footers with quotations at the bottom of pages.*/
p.copyright {
	font-size: 12px;

}
